kafka/kafka_2.12*

elasticsearch/data
extensions

dataset/__pycache__

beats/filebeat-nginx/log/


# project 01
project01/elasticsearch/data
project01/beats/metricbeat-7.*

# project 02
project02/elasticsearch/data
project02/beats/filebeat-7.*
project02/beats/filebeat-nginx/log